<nav class="site-nav" role="navigation">
	

  <div class="nav-links">
	<% link_to '/' do %>
	   Inicio
	<% end %>
	<% link_to '/contact' do %>
	  Contactanos
	<% end %>
	<div class="mobile-menu"><i class="icon icon-reorder"></i></div>
  </div>
	<%= link_to 'MR. ROMITA VIDEOCLUB', '/', class: 'site-title' %>
	<br />
	<em>El entretenimiento desde la sala de tu casa </em>
</nav>
