---
title: Mr. Romita Videoclub
---
 <div class="movies">
        <%= image_tag 'peliculas1.jpg' %>
    </div>
<div class="container">
    <h1>Videoclub</h1>
        <em><b>Tu trae tu imaginacion.....Nosotros te dicimos el titulo!</b>
         Promocion 3 X 2 todos los dias
        </em>
        <br />
   
    <br  clear="all">
     <div class="reparaciones">
        <h1>TAMBIEN HACEMOS REPARACION DE CELULARES</h1>
        <p>
         Servicios tecnicos en telefonia celular  
        </p>
        <div class="droid">
        	 <%= image_tag 'droid.png' %>
        </div>
        <p>
        	Todas las marcas <b>REVISION GRATIS</b> todas las marcas
        </p>
    </div>
</div>


